<div>
  <table class="table table-hover table-bordered table-dark"><tbody>
  <tr [routerLink]="['fixture',ut.id]" *ngFor="let ut of matches ; let i = index;" style="font-size:16px"> <td>{{ut.dateTime.toLocaleTimeString().split(':',2).join(':')}}</td>
    <td>{{ut.idHome}} <span style="float:right;color:red" *ngIf="ut.shortStatus == '1H' || ut.shortStatus == 'HT' || ut.shortStatus == '2H' "> {{ut.elapsed}} </span>
      <span style="float:right" *ngIf="ut.shortStatus == 'SUSP' || ut.shortStatus == 'INT' || ut.shortStatus == 'PST'
       || ut.shortStatus == 'CANC' || ut.shortStatus == 'ABD' || ut.shortStatus == 'AWD'"> {{ut.longStatus}} </span>  <br> {{ut.idAway}}    </td>
    <td [ngStyle]="ut.shortStatus == '1H' || ut.shortStatus == 'HT' || ut.shortStatus == '2H'  ? {'color':'red'} : {'color':'white'}" > {{ut.goalsHome}} <br> {{ut.goalsAway}}</td>
  </tr>

  </tbody>
  </table>

</div>
