<nav class="navbar navbar-dark bg-dark navbar-expand-md">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" ><a class="navbar-brand" href="" style="font-size: 30px" >FootballScores</a></li>
      <li class="nav-item" ><a class="nav-link" [routerLink]="['']">All</a></li>
      <li class="nav-item" ><a class="nav-link" [routerLink]="['live']">Live</a></li>
      <li class="nav-item" ><a class="nav-link" [routerLink]="['leagues']">Top leagues</a>
      <li class="nav-item" ><a class="nav-link" [routerLink]="['countries']">Countries</a></li>
      <li class="nav-item" ><a class="nav-link" (click)="logout()" *ngIf="authenticated">Logout</a></li>
      <li class="nav-item" ><a class="nav-link" [routerLink]="['auth']" *ngIf="!authenticated">Login</a></li>

    </ul>
</nav>

